
<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">İletişime Geçin</h4>
                <h2 class="text-primary mb-4"><i class="fa fa-car text-white me-2"></i>Araba Kullanmak</h2>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>İstanbul/Beşiktaş</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0212 500 20 20</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>ehliyetkursu@hotmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Hızlı Link</h4>
                <a class="btn btn-link" href="">Hakkında</a>
                <a class="btn btn-link" href="">İletişim</a>
                <a class="btn btn-link" href="">Hizmetlerimiz</a>
                <a class="btn btn-link" href="">Şartlarımız</a>
                <a class="btn btn-link" href="">Destek</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Popüler Link</h4>
                <a class="btn btn-link" href="">Hakkında</a>
                <a class="btn btn-link" href="">İletişim</a>
                <a class="btn btn-link" href="">Hizmetlerimiz</a>
                <a class="btn btn-link" href="">Şartlarımız</a>
                <a class="btn btn-link" href="">Destek</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Haber Bülteni</h4>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="e-mail adresiniz">
                        <button class="btn btn-primary">Kayıt Ol</button>
                    </div>
                </form>
                <h6 class="text-white mt-4 mb-3">Takip Et</h6>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
