
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    @await Component.InvokeAsync("_TopbarPartial")
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("_NavbarPartial")
    <!-- Navbar End -->
    <!-- Carousel Start -->
    @await Component.InvokeAsync("_CarouselPartial")
    <!-- Carousel End -->
    <!-- Facts Start -->
    @await Component.InvokeAsync("_FactsPartial")
    <!-- Facts End -->
    <!-- About Start -->
    @await Component.InvokeAsync("_AboutPartial")
    <!-- About End -->
    <!-- Courses Start -->
    @await Component.InvokeAsync("_CoursesPartial")
    <!-- Courses End -->
    <!-- Features Start -->
    @await Component.InvokeAsync("_FeaturesPartial")
    <!-- Features End -->
    <!-- Team Start -->
    @await Component.InvokeAsync("_TeamPartial")
    <!-- Team End -->
    <!-- Testimonial Start -->
    @await Component.InvokeAsync("_TestimonialPartial")
    <!-- Testimonial End -->
    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterPartial")
    <!-- Footer End -->
    <!-- Copyright Start -->
    @await Component.InvokeAsync("_CopyrightPartial")
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>



    @await Component.InvokeAsync("_JavaScriptPartial")

    <!-- JavaScript Libraries -->
    
</body>

</html>
